@import "config";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    padding: 0;
    font-family: $font-family;
    // background-image: linear-gradient(
    //     to bottom right,
    //     #ffffff40,
    //     $primary-color
    // );
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    height: 100%;
    background-color: black;
}

.homeBody {
    background-image: linear-gradient(
        to bottom right,
        #ffffff40,
        $primary-color
    );
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.welcomeBody {
    background-image: none;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
}

// ENTER BUTTON
.enter-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;

    // Giant Button
    .enter-button {
        @include animationTransitions;
        animation-name: button-flicker;
        @include buttonStyle;
    }
}

// ENTER BUTTON SHADOW
.lightShadow {
    @include animationTransitions;
    animation-name: shadow-flicker;
    @include lightShadowStyle;
}

.heavyShadow {
    @include animationTransitions;
    animation-name: shadow-flicker;
    @include heavyShadowStyle;
}

// WEOLCOME BUTTON FLICKER ANIMATION
@keyframes button-flicker {
    50% {
        @include hoverButtonStyle;
    }
}

@keyframes shadow-flicker {
    0% {
        @include heavyShadowStyle;
    }

    50% {
        @include lightShadowStyle;
    }
}

// NAV
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.navButton {
    text-decoration: none;
    width: 15rem;
    text-align: center;
    margin: 1.5rem 0rem;
    padding: 0.5rem 0.8rem;
    color: whitesmoke;
    cursor: pointer;
    // box-shadow: inset 0 0 0.1rem $secondary-color, 0 0 0.1rem $secondary-color,
    //     inset 0 0 0.7rem $secondary-color, 0 0 0.7rem $secondary-color;
}

.navButtonSelected {
    color: #ff9966;
    // box-shadow: inset 0 0 0.1rem $secondary-color, 0 0 0.1rem $secondary-color,
    //     inset 0 0 0.7rem $secondary-color, 0 0 0.7rem $secondary-color;
    font-style: italic;
    cursor: default;
    text-shadow: 0 0 0.7rem $secondary-color;
}

// HOME PAGE

.homePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeTitle {
    color: whitesmoke;
    font-style: italic;
    text-shadow: 0 0 0.1rem black;
    box-shadow: inset 0 0 0.1rem #cc66ff, 0 0 0.1rem #cc66ff,
        inset 0 0 0.7rem #cc66ff, 0 0 0.7rem #cc66ff;
    padding: 1.5rem 3.5rem;
    margin: 1.5rem 0rem 3rem 0rem;
    width: 70vw;
    text-align: center;
    background-color: #cc66ff4d;
}

.homeInfoContainer {
    color: whitesmoke;
    padding: 4rem 0rem 1rem 0rem;
    margin-bottom: 2rem;
    opacity: 0.8;
    // box-shadow: inset 0 0 0.1rem #fff, 0 0 0.1rem #fff, inset 0 0 0.7rem #fff,
    // 0 0 0.7rem #fff;
}

.homeInfo {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .homeInfoTwo {
        margin-top: 0.8rem;
        font-size: 0.7rem;
    }
}

// MAIN HALL

// HALL HEADER

.hallHeader {
    text-align: center;
    color: white;
    font-style: italic;
}

// BORDER AND BACKGROUND
.mainBorder {
    padding: 1.3rem;
    margin: 0rem 1rem;
}

.mainBackground {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(23, 23, 23);
    padding-bottom: 5rem;
    border-radius: 4px;
    background-image: linear-gradient(to bottom right, #2c2c2c40, #65656540);
}

// PICTURE AND TEXT CONTAINER

.cardContainer {
    width: 17.5rem;
    padding: 1.5rem;
    margin-top: 2.3rem;
    margin-bottom: 0.5rem;
    display: flex;
    cursor: default;

    .imageAndTextGroup {
        display: flex;
        flex-direction: column;
        transition: 1s ease-in-out;
        width: 17.5rem;

        .imageContainer {
            border-radius: 4px;
            box-shadow: 0 0 0.1rem #fff, 0 0 0.8rem #fff, 0 0 1.2rem #fff,
                0 0 1.5rem #fff;
            height: 18rem;

            .imageCard {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}

// TEXT STYLE
.name,
.showOrMovie,
.blurb {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    color: whitesmoke;
}

.name,
.showOrMovie {
    text-align: center;
}

.name {
    font-weight: 900;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 10px 3px $purple-color;
    border: 4px solid $purple-color;
}

.showOrMovie {
    font-style: italic;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 10px 3px #fff;
    border: 4px solid #fff;
}

.blurb {
    opacity: 0;
    box-shadow: 0px 0px 10px 3px #fff;
    border: 4px solid #fff;
    font-size: 0.85rem;
    padding: 0.5rem;
}

.honorableMentionName {
    box-shadow: 0px 0px 10px 3px $blue-color;
    border: 4px solid $blue-color;
}

.honorableMentionShowOrMovie {
    box-shadow: 0px 0px 10px 3px #fff;
    border: 4px solid #fff;
}

.honorableMentionText {
    box-shadow: 0px 0px 10px 3px #fff;
    border: 4px solid #fff;
}

// CARD GLOW AND MOVE ANIMATIONS
.imageAndTextGroup:hover {
    transform: translateY(-0.1rem);

    .imageContainer {
        animation-name: honorableCardGlow;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .honorableImageContainer {
        animation-name: honorableCardGlow;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    // TEXT MOVE ANIMATIONS
    .blurb {
        animation-name: blurbAppear;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

.imageAndTextGroup:not(:hover) {
    .imageContainer {
        animation-name: honorableCardNotGlow;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    .honorableImageContainer {
        animation-name: honorableCardNotGlow;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    // TEXT MOVE ANIMATIONS
    .blurb {
        animation-name: blurbDisappear;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes cardGlow {
    0% {
        box-shadow: 0 0 0.1rem #fff, 0 0 1rem #fff, 0 0 1.2rem #fff;
    }

    100% {
        box-shadow: 0 0 0.1rem #fff, 0 0 0.8rem $purple-color,
            0 0 1.2rem $purple-color, 0 0 1.5rem $purple-color,
            0 0 1.8rem $purple-color;
    }
}

@keyframes cardNotGlow {
    0% {
        box-shadow: 0 0 0.1rem #fff, 0 0 0.8rem $purple-color,
            0 0 1.2rem $purple-color, 0 0 1.5rem $purple-color,
            0 0 1.8rem $purple-color;
    }
    100% {
        box-shadow: 0 0 0.1rem #fff, 0 0 0.8rem #fff, 0 0 1.2rem #fff;
    }
}

@keyframes honorableCardGlow {
    0% {
        box-shadow: 0 0 0.1rem #fff, 0 0 1rem #fff, 0 0 1.2rem #fff;
    }

    100% {
        box-shadow: 0 0 0.1rem #fff, 0 0 0.8rem #fff, 0 0 1.2rem #fff,
            0 0 1.5rem #fff, 0 0 1.8rem #fff;
    }
}

@keyframes honorableCardNotGlow {
    0% {
        box-shadow: 0 0 0.1rem #fff, 0 0 0.8rem #fff, 0 0 1.2rem #fff,
            0 0 1.5rem #fff, 0 0 1.8rem #fff;
    }
    100% {
        box-shadow: 0 0 0.1rem #fff, 0 0 0.8rem #fff, 0 0 1.2rem #fff;
    }
}

@keyframes blurbAppear {
    0% {
        opacity: 0;
        margin-top: 0rem;
    }

    100% {
        opacity: 1;
        margin-top: 2.8rem;
    }
}

@keyframes blurbDisappear {
    0% {
        opacity: 1;
        margin-top: 2.8rem;
    }

    10% {
        opacity: 0;
    }

    100% {
        margin-top: 0rem;
    }
}

.divider {
    height: 20rem;
    width: 0.2rem;
    background-color: whitesmoke;
    margin: 2rem;
    border: 2px solid #ffe666;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 3px $yellow-color;
}
